vsphere_server              = "vcenter.example.local"
vsphere_username            = "svc-packer@vsphere.local"
vsphere_password            = "CHANGE_ME"
vsphere_insecure_connection = true

vsphere_datacenter    = "Datacenter"
vsphere_cluster       = "Cluster"
vsphere_host          = null
vsphere_datastore     = "datastore1"
vsphere_folder        = "Templates"
vsphere_resource_pool = null
vsphere_network       = "VM Network"

vm_name       = "rocky9-cis"
guest_os_type = "rhel9_64Guest"

iso_path = "[datastore1] iso/Rocky-9.8-x86_64-minimal.iso"

cpus      = 2
memory    = 2048
disk_size = 20480

disk_controller_type   = "pvscsi"
disk_thin_provisioned  = true
network_card           = "vmxnet3"
convert_to_template    = false
destroy_after_build    = false

ssh_username = "packer"
ssh_password = "packer"
