#version=RHEL9

text

cdrom

lang en_US.UTF-8
keyboard fr

timezone UTC --utc

network --bootproto=dhcp --activate

rootpw --plaintext baddaz42684

user --name=packer --plaintext --password=packer --groups=wheel

firewall --enabled

selinux --enforcing

services --enabled=sshd

firstboot --disable

clearpart --all --initlabel

autopart

reboot

%packages
@core
vim
python3
openssh-server
git
open-vm-tools
%end