#version=RHEL9

text

cdrom

lang en_US.UTF-8

keyboard fr

timezone UTC --utc

network --bootproto=dhcp --activate

rootpw var.ssh_password

user --name=var.ssh_username \
     --password=var.ssh_password \
     --groups=wheel

firewall --enabled

selinux --enforcing

clearpart --all --initlabel

autopart

reboot

%packages
@^minimal-environment
vim
curl
git
%end